@page "/account"
@using NeoBid.Server.Auth
@inject AuthenticationService AuthenticationService;
@attribute [StreamRendering(true)]


<PageTitle>Account</PageTitle>

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Your Account</h1>
        </div>
    </div>
</section>

@if(_account is not null)
{
    <div class="card m-auto mb-5" style="width: 18rem;">
        <img src="data:image/jpeg;base64, @Convert.ToBase64String(_account.Avatar)" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@_account.FullName</h5>
            <p class="card-text">@_account.Email</p>
            <a href="#" class="btn my-custom-button m-auto d-block">Change password</a>

        </div>
    </div>
}

@code {
    private NeoBid.Server.Data.Entities.Account? _account;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            _account = await AuthenticationService.GetCurrentAccount();
            InvokeAsync(StateHasChanged);
        }
    }
}
